.services{
    &.component{
        margin-top: 50px;
        &.no-top-margin{
            margin-top: 0;
        }
        .left-right{
            color:#353C41;
            justify-content: center;
            align-items: center;
            display: none;
            margin-top: 1rem;
            .notice{
                margin:0 1rem;
            }
            @include breakpoints(0px, ipad){
                display: flex;
            }
        }
        .slider {
            display: grid;
            grid-auto-columns: auto;
            grid-gap: 28px;
            grid-template-columns: repeat(4,1fr);
            margin-top: 2rem;
            @include breakpoints(0px, ipad){
                display: flex;
                -webkit-overflow-scrolling: touch;
                scroll-snap-type: x mandatory; 
                overflow-x: auto;
                width: 100%;
                margin-top: 1rem;
            }
            .slide{
                @include breakpoints(0px, ipad){
                    flex-shrink: 0;
                    scroll-snap-align: start;
    
                    width: 100%;
                    flex-basis: 100%;
                }
                box-sizing: content-box; 
                background-color: #fff;
                position: relative;
               
                &:hover > .overlay{
                    display: flex;
                    opacity: 1;
                    pointer-events: auto;
                
                }
                .overlay{
                    opacity: 0;
                    pointer-events: none;
                    z-index: 9;
                    position: absolute;
                    top:0;
                    left:0%;
                    right: 0;
                    bottom: 0;
                    height: 100%;
                    width: 100%;
                    background-image: linear-gradient(to bottom,rgba(0,0,0,.3) 3%,rgba(0,0,0,.77) 98%);
                    background-color: rgba(255,255,255,.8);
                    justify-content: center;
                    align-items: center;
                    transition: all .7s ease-in-out;
                    
                    .cta{
                        color: #FFF;
                        border-color: #FFF;
                    }
                   
                }
                .service-image {
                    width: 100%;
                    object-fit: fill;
                    max-height: 150px;
               
                }
                .text-area{
                    padding: 1rem;
                    .title{
                        font-weight: 700;
                        font-size: 18px;
                        color: #353C41;
                        line-height: 26px;
                        margin-bottom: 1rem;
                    }
                    .description{
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                    }
                }
            }
        }
    }
}