// MAIN WRAPPER
	@media screen{
		main, .wrapper-holder{
			position: relative;
			z-index: 1;
		}
	}

// FORM CONTROL PLACEHOLDER

	@media screen{
		.form-control::-webkit-input-placeholder {
			color: #b5b5b5;
		}

		.form-control:-moz-placeholder { /* Firefox 18- */
			color: #b5b5b5;
		}

		.form-control::-moz-placeholder {  /* Firefox 19+ */
			color: #b5b5b5;
		}

		.form-control:-ms-input-placeholder {
			color: #b5b5b5;
		}

		.form-control{
			border-radius: 0;
			height: 40px;
			padding: 10px 20px;
		}
	}

// CONTACT FORM
  @media screen{
    span.wpcf7-not-valid-tip{
        display: none !important;
    }
    div.wpcf7-validation-errors{
        border-color:#e46967;
        background-color: #FFCFCF;
        color:#e46967;
        margin: 0 0 10px;
    }
    .wpcf7-not-valid{
        border:1px solid #e46967;
        background-color: #FFCFCF;
    }
    .wpcf7-mail-sent-ok{
        border: 2px solid #3c763d;
        margin: 0 0 10px;
        color: #3c763d;
        background-color: #DFF0D8;
    }
  }

// CONTENT EDITOR CONFIGURATION
  @media screen{
		img.alignleft{
			float: left;
			margin-right: 20px;
		}
		img.aligncenter{
			display: block;
			margin: 0 auto 20px;
		}
		img.alignright{
			float: right;
			margin-left: 20px;
		}
	}

// YOAST BREADCRUMBS
	@media screen{
		.breadcrumbs{
			border-top: 1px solid #e5e5e5;
			border-bottom: 1px solid #e5e5e5;
			font-size: 14px;
			padding: 5px 15px;
			// color: $color-gray;
			margin-bottom: 0 !important;
			a{
				// color: $color-gray;
			}
			.fa{
				padding-left: 5px;
				padding-right: 5px;
			}
		}
	}

// CUSTOM IMG THUMBNAIL
	@media screen{
		.img-thumbnail{
			padding: 5px;
			border-radius: 0;
			border: none;
			box-shadow: 0 0 2px 1px #ccc;
		}
	}

// ACF GOOGLE MAP
	@media screen{
		.acf-map {
			width: 100%;
			height: 400px;
			border: #ccc solid 1px;
			margin: 20px 0;
		}

		/* fixes potential theme css conflict */
		.acf-map img {
		   max-width: inherit !important;
		}
	}

// PAGE LOADER
	@media screen{
	    .loader-overlay {
		    background: rgba(255, 255, 255, 0.98);
		    bottom: 0;
		    left: 0;
		    position: fixed;
		    right: 0;
		    top: 0;
		    z-index: 999;
		    .loader{
		        bottom: 0;
		        left: 30px;
		        position: absolute;
		        right: 30px;
		        top: 0;
		        .loader-img{
		            bottom: 0;
		            color: rgba(0, 0, 0, 0.7);
		            display: table;
		            height: 100%;
		            left: 0;
		            margin: auto;
		            position: absolute;
		            right: 0;
		            text-align: center;
		            top: 0;
		            width: 100%;
		            span{
		                display: table-cell;
		                vertical-align: middle;
		            }
		        }
		    }
		}
	}

// BACK TO TOP
	@media screen{
		.back-to-top{
			position: fixed;
			bottom: 15px;
			right: 15px;
			z-index: 9;
			a{
				background-color: $color-gray;
				color: $color-black;
				padding: 12px 15px;
				border-radius: 5px;
			}
		}
	}