// THANK YOU PAGE
	@media screen{
		.thankyou-page-layout{
			padding-top: 30px;
			padding-bottom: 30px;
			figure{
				margin-bottom: 20px;
			}
			.thankYouButton{
				margin-top: 20px;
				figure{
					margin-bottom: 0;
				}
			}

		}
	}

//  404 PAGE
	@media screen{
		.error-page{
			padding-top: 30px;
			padding-bottom: 30px;
			.error-btn{
				margin-top: 20px;
			}
		}
	}

// PAGE TEMPLATES - SIDBAR
	@media screen{
		
	}

// PAGE LAYOUTS
	@media screen{

	}
