/*** INSTRUCTION: HOW TO ADD CUSTOM FONTS ***/
@import 'fonts-list/font-opensans';

// // FONTS
$font-main-regular: 'open_sansregular';
$font-main-bold: 'open_sansbold';
$font-main-semibold: 'open_sanssemibold';
$font-main-light: 'open_sanslight';
$font-main-italic: 'open_sansitalic';

// // COLORS - DEFAULT
$color-default: #f6f6f6;
$color-white: #fff;
$color-gray: #ccc;
$color-black: #000;
$color-sytian: #9dca00;