/*Desktop CSS*/
.h3_storage{
	text-align: center !important; 
	border: solid 1px #353c41; 
	padding: 24px 0 !important;
	
}
.container {
    max-width: 1280px !important;
    margin: 0 auto;
    padding: 0 64px;
    width: 100%;
}

.page-banner .banner-content>div a {
    width: 195px;
}

/*moving*/
.page-id-382 .banner-content .uk-position-center{
}
.hidden_button{
    display: none;
}


/*virtual survey*/
.content-virtual-iframe{
   margin-top: -30px;
    margin-bottom: 48px;
     position: relative;
    overflow: hidden;
}

/*star rating*/
span.stars, span.stars span {
    display: block;
    background: url('../img/trustpilot-star.svg)') 0 -29px repeat-x;
    height: 24px;
    width:0;
}

span.stars span {
    background-position: 0 0;
}


/*testimonials*/
.review .testimonial,
.content-block .review .testimonial {
    font-style: normal;
}
.review .title {
    margin-bottom: 48px;
}
.review, .single.single-mobility-webinar .review, 
.page-template-template-version2 .content-block .review, .page-template-template-commercial-services .content-block .review {
    padding: 48px 14.53% 48px 12.65%;
    background-image: linear-gradient(to bottom, #f0f5f8, #ffffff);
    color:#353c41;
}
.review h3, .single.single-mobility-webinar .review h3{
	text-align: center;
	margin:0;
}

.review .testimonial{
    height: 120px;
}

.review .client {
    padding-top: 50px;
}

.review .container{
    padding-right: 0;
    padding-left: 0;
}
.thank-you-page .review .container {
    padding:0;
}

.content-block .review .testimonial::before,
.home .review .testimonial::before,
.single.single-mobility-webinar .review .testimonial::before, 
.single.single-mobility-wpapers .review .testimonial::before {
    content: '\f10d\a';
    position: relative;
    white-space: pre;
    color:#11aa73;

}

.content-block .review .testimonial::after,
.home .review .testimonial::after,
.single.single-mobility-webinar .review .testimonial::after,
.single.single-mobility-wpapers .review .testimonial::after {
    content: '\f10e\a';
    left: 0;
    display: block;
    white-space: pre;
    position: relative;
    color:#11aa73;

}

.content-block .review .uk-grid>div>div,
.home .review .uk-grid>div>div, 
.single.single-mobility-webinar .review .uk-grid > div > div, 
.single.single-mobility-wpapers .review .uk-grid > div > div{
    padding-left: 0;
    padding-right: 0;
}
.review #rating{
    padding-top:15px;
}


.mobile-button-primary {
    display: none !important;
}

.desktop-menu li.menu-item-1940, .desktop-menu li#menu-flag {
    display: none;
}

.uk-navbar-right .hidden-xs {
    display: block !important;
}

.page-banner .banner-image.banner-meta {
    left: 34%;
}


.page-banner .banner-content>div p {
    padding-right: 82px;
}

.page-banner .banner-content>div h1 span {
    white-space: normal;
}

.top-header .row,
.main-header .row {
    margin-left: 0;
    margin-right: 0;
}

.col-9 {
    padding-left: 0;
    padding-right: 0;
}

.uk-sticky-placeholder {
    height: 132px;
}

.col-lg-10 {
    padding-right: 0;
}

ul#menu-main-menu-1 li:last-child a {
    padding-right: 0;
}

.main-header nav .uk-navbar-nav>li>a,
.top-header nav .uk-navbar-nav>li>a {
    height: 44px;
}

.uk-navbar-item,
.uk-navbar-nav>li>a,
.uk-navbar-toggle {
    padding: 0 13px;
}

.top-header nav {
    height: auto;
}

.d-md-none {
    display: none;
}

.page-banner .banner-content>div h1 {
    line-height: 42px;
    padding-right: 10px;
    text-transform: uppercase;
    margin: 0;
}

.page-banner .banner-content>div p {
    margin: 24px 0 0 0;
}

p.p1 {
    margin-bottom: 24px;
}



/*forms*/

.wForm .hintsBelow .field-hint .hint,
.wForm .hintsBelow .field-hint-inactive .hint {
    color: #000;
    opacity: 0.8;
    font-weight: bold;
    font-size: 12px;
}

.thank-you-page .container {
    padding: 24px 64px 48px 64px;
}

.thank-you-page a {
    color: #000;
}



/*button*/
.destination-guide .secondary.button:focus {
	color:#fff !important;
}
.single-internations .secondary.button>a {
    color: #000;
}
.secondary.button>a {
    color: #000;
}

.secondary.button {
    margin-top: 24px;
}

.secondary.button:hover>a {
    color: #fff;
}
.page-popular-guides .secondary.button:not(.inverse) {
    color:#fff !important;
}
.secondary.button:not(.inverse) {
    color: #000;
}

.secondary.button:not(.inverse):hover {
    background-color: #000000 !important;
    border-color: #000 !important;
    color: #fff !important;
}
.secondary.button:not(.inverse):focus {
    background-color: #005aaa !important;
    border-color:#005aaa !important;
}
.review .review-button a {
    background-color: transparent;
    border-color: #fff;
    color: #fff !important;
}

.content-block .review .review-button a::after {
    color: #fff !important;
}
.content-block .review .review-button a,
.home .review .review-button a,
.single.single-mobility-webinar .review .review-button a,
.single.single-mobility-wpapers .review .review-button a{
    margin-top: 0;
}
.review .review-button,
.home .review .review-button,
.content-block .review .review-button,
.single.single-mobility-webinar .review .review-button,
.single.single-mobility-wpapers .review .review-button{
    padding-top: 24px;
    display: none;
}
/*footer*/
.footer-awards h5{
    text-align: center;
}
.footer-awards ul li:nth-child(-n+2){
    width:82px;
}

.footer-awards ul li:last-child{
    width:88.6px;
}
.footer-awards .uk-iconnav > *{
    margin-left: 14px;
}

/*paragraph*/

@media (max-width: 1210px) {

    .desktop-menu {
        display: none;
    }

    .hidden-lg {
        display: block !important;
    }

    .sidepanel .menu>li>a {
        font-size: 16px;
        font-weight: bold;
    }

    .sidepanel>nav {
        padding: 25px 64px;
    }

    .sidepanel>nav .sub-menu li {
        font-weight: bold;
    }

    .sidepanel>nav .sub-menu {
        padding: 175px 64px 0 64px;
    }

    .top-header li#menu-item-1383, .top-header li#menu-flag {
        display: none;
    }

    .sidepanel>nav ul li:hover>.material-icons {
        text-align: right;
        width: 100%;
    }
    .sidepanel .menu > li:hover> a{
        pointer-events: none;
    }
    .sidepanel .menu > li#menu-item-1940:hover>a{
        pointer-events: auto;
    }
    

    .sidepanel>nav ul.sub-menu.show:hover li:hover>.material-icons {
        text-align: left;
        width: auto;
    }

}


@media (max-width: 1199px) {
    /*temp for homepage*/
    .home .page-banner .banner-content>div a {
        margin-top: 15px;
    }

    .home .page-banner .banner-content>div p {
        padding-right: 15px;
    }

    .home .multi-color-content {
        padding: 24px 0;
    }

    .home .multi-color-content h2 {
        font-size: 28px;
        line-height: 32px;
    }

    .home .gray .header-subheader-repeater .uk-grid>div,
    .home .gray {
        padding-top: 0;
    }

    .home .gray .header-subheader-repeater,
    .home .gray,
    .home .relocation-services>.container>div {
        padding-bottom: 24px;
    }

    .home .relocation-services .uk-switcher {
        margin-top: 4px;
    }

    .home .relocation-services {
        padding-top: 0;
        padding-bottom: 45px;
    }

    .home .gray .header-subheader-repeater .uk-grid .bordered {
        padding-bottom: 14px;
    }

    .home .gray .block-content .colored h3 {
        margin-bottom: 15px;
    }



    .page-banner .col-4 {
        min-width: 286px;
    }

    .page-banner .banner-content>div p {
        padding-right: 44px;
    }

    .container,
    .thank-you-page .container {
        padding: 0 48px;
    }

    .secondary.button {
        margin-bottom: 0;
    }

    h2~p:first-of-type {
        margin-top: 0;
    }

    /*slidepanel*/
    .sidepanel>nav {
        padding: 0px 48px;
    }

    .sidepanel {
        padding-top: 175px;
    }

    .sidepanel>nav .sub-menu {
        padding: 175px 48px 0 48px;
    }

    .sidepanel .menu>li>a {
        font-size: 16px;
        padding: 5px 12px;
        line-height: 24px;
        font-weight: bold;
    }

    .sidepanel>nav .sub-menu li {
        font-weight: bold;
    }

    .uk-navbar-item,
    .uk-navbar-nav>li>a,
    .uk-navbar-toggle {
        padding: 0 13px 0 13px;
    }

    .uk-child-width-1-1\@s >* {
        width: 50%;
    }

    /*review*/
    .review .uk-width-expand {
        min-width: 100%;
    }
    .button-container{
        padding-bottom: 24px;
    }

    .review {
        padding: 24px 48px !important;
    }

    .review .testimonial {
        height: auto;
    }

    .review .client,
    .content-block .review .client,
    .home .review .client,
    .single.single-mobility-webinar .review .client,
    .single.single-mobility-wpapers .review .client{
        padding-top: 15px;
    }
    .review #rating{
        padding-bottom:28px;
        padding-top:10px;
    }
    .review .review-button, .home .review .review-button, .content-block .review .review-button, 
    .single.single-mobility-webinar .review .review-button,
    .single.single-mobility-wpapers .review .review-button{
    	padding-top:0;
    }
   

    .uk-child-width-1-3\@m >* {
        width: calc(100% * 1 / 3.001);
    }

    /*mission*/
    .content-block .icon-item h3 span {
        display: inline;
    }

    /*column-listing*/
    .container+.content-blockv2>.column-listing:first-of-type {
        margin-top: 24px !important;
    }

    /*footer*/
    .footer div[class^="menu-"] ul li a {
        white-space: pre-wrap;
    }

    .content-block .text-content {
        padding-bottom: 24px !important;
    }

    .page-template-template-version2 .content-block .cr-listing {
        padding-top: 0px !important;
        padding-bottom: 24px;
    }

    .content-block .icon-item {
        padding: 24px 0;
    }

    .cancel-button {
        padding: 10px 0 !important;
    }

    .content-block .cf-dropdown .selector-form {
        padding: 0px 72px !important;
    }

    /*button*/
    .local-offices .select-ajax .select-container select,
    .post-type-archive-offices .local-offices .select-ajax .select-container select {
        width: 250px !important;
    }

    .post-type-archive-offices .local-offices .select-ajax .button {
        width: 118px;
    }

    /*destination guide*/
    .content-block .destination-guide .description {
        padding: 0px 98px 0px !important;
    }

    .content-block .destination-guide .selector-form {
        padding: 0 29px;
        margin-bottom: 24px;
    }

    .content-block .destination-guide .uk-width-expand>div .title,
    .content-block .destination-guide .uk-width-expand .uk-overlay-primary .title {
        font-size: 22px;
        line-height: 26px;
    }
    /*custom guides/our offices*/
    .post-type-archive-offices .local-offices {
        margin-top: 8px !important;
        padding-top: 0;
        padding-bottom: 0;
    }
 
    .post-type-archive-offices .local-offices .toggle{
        margin-top: 24px;
    }
    .post-type-archive-offices .local-offices .select-ajax .select-container select{
        margin-bottom: 0 !important;
    }

     /*mobility survey*/
    .post-type-archive-mobility-survey .default-container > .row > .container{
        padding: 0 48px 8px 48px !important;
    }

    .single.single-mobility-survey .main-content, 
    .single.single-mobility-wpapers .main-content, 
    .single.single-mobility-webinar .main-content{
        padding-top: 0 !important;
        padding-bottom: 8px !important;
    }

    .post-type-archive-mobility-survey .author-content,
    .post-type-archive-mobility-survey .author-content, 
    .single.single-mobility-survey .author-content, 
    .single.single-mobility-wpapers .author-content, 
    .single.single-mobility-webinar .author-content{
        padding-top:0 !important;
        padding-bottom: 24px;
    }
    .single.single-moving-news .featured-image .uk-overlay, .single.single-storage-news .featured-image .uk-overlay, .single.single-visa-news .featured-image .uk-overlay, .single.single-insights-news .featured-image .uk-overlay, .single.single-mobility-survey .featured-image .uk-overlay, .single.single-mobility-wpapers .featured-image .uk-overlay, .single.single-mobility-webinar .featured-image .uk-overlay{
        padding:0;
    }
  

}

@media (max-width: 1071px){

    /*global mobility survey*/

    .post-type-archive-mobility-survey .mobility-global,
    .single.single-mobility-survey .mobility-global, 
    .single.single-mobility-wpapers .mobility-global, 
    .single.single-mobility-webinar .mobility-global{
        text-align: center;
    }
    .post-type-archive-mobility-survey .mobility-global > .container,
    .single.single-mobility-survey .mobility-global > .container, 
    .single.single-mobility-wpapers .mobility-global > .container, 
    .single.single-mobility-webinar .mobility-global > .container{
        padding: 24px 48px 48px 48px;
    }
    .post-type-archive-mobility-survey .mobility-global > .container .uk-first-column,
    .single.single-mobility-survey .mobility-global > .container .uk-first-column, 
    .single.single-mobility-wpapers .mobility-global > .container .uk-first-column, 
    .single.single-mobility-webinar .mobility-global > .container .uk-first-column{
        padding:0;
        margin-top: 24px;
    }
    .mobility-global .uk-child-width-1-2\@m > *{
        width: 100%;
    }
    .post-type-archive-mobility-survey .mobility-global > .container .uk-first-column img,
    .single.single-mobility-survey .mobility-global > .container .uk-first-column  img, 
    .single.single-mobility-wpapers .mobility-global > .container .uk-first-column  img, 
    .single.single-mobility-webinar .mobility-global > .container .uk-first-column  img {
        max-width: 267px;
    }
    	.page-id-3438 .page-banner .banner-content > div a {
    width: 235px !important;
}
 
}
@media (max-width: 999px) {
    .content-block .icon-item.new_home.nh .text_wrapper .title{
        height: 60px;
    }

	.h3_storage{
		
		padding:24px 15px !important;
	}
}
@media (max-width: 959px) {

    /*global mobility survey*/
    .post-type-archive-mobility-survey .author-content .profile-image img, 
    .post-type-archive-mobility-webinar .author-content .profile-image img, 
    .post-type-archive-mobility-wpapers .author-content .profile-image img,
    .single.single-mobility-survey .author-content .profile-image img, 
    .single.single-mobility-wpapers .author-content .profile-image img, 
    .single.single-mobility-webinar .author-content .profile-image img{
        width:92px;
        height: 92px;
    }
    .author-content .profile-image{
        width:auto;
        margin-right: 24px;
    }
    .author-content .profile-meta{
        width:82%;
    }

}

@media (max-width: 928px){
     ul.uk-iconnav li:last-child{
        padding-top:15px;
    }
}

@media (max-width: 835px) {

    .content-block .multi-link-block-custom>div .bordered,
    .single-offices .multi-link-block-custom>div .bordered {
        padding: 15px;
    }

    .content-block .multi-link-block-custom h3,
    .single-offices .multi-link-block-custom h3 {
        text-align: center !important;
        margin: 0 0 15px 0 !important;
    }

    .single-offices .multi-link-block-custom a,
    .content-block .multi-link-block-custom a {
        position: initial;
        top: 0;
        width: 100%;
        transform: translate(0);
    }

    /*news and blog*/
    .post-type-archive .body-content{
        padding: 24px 0;
    }


}

@media (max-width: 767px) {
    .banner-wrapper{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    }

	.page-id-3438 .module-4 .sf-slider .slick-slide:nth-child(1) .circle span {

    margin-left: -60px;

}
    .page-template-template-tfa .uk-sticky.uk-active{
        position:absolute !important;
    }

    ul.uk-iconnav li:last-child{
        padding-top:0;
    }

	/*form*/
	#tfa_731 .oneChoice{
		display: inline-block !important;
	}

    .content-block .icon-item.new_home.nh .text_wrapper .title {
        height: auto;
    }
    .destination-guide .text-section{
        text-align: center;
    }
    .hidden_button .secondary.button{
        margin-top: 15px;
    }
    .hidden_button a{
         width:100%;
    }
    .hidden_button{
        position: relative;
        display: block;
    }
    .desk_button{
        display: none;
    }
    .destination-guide .uk-grid > *{
        min-height: 342px;
    }

    /*front page*/
    .home .button.primary {
        margin-bottom: 15px;
    }

    .review .testimonial {
        height: auto;
    }

    .home .multi-color-content h2 {
        font-size: 19px;
        line-height: 27px;
    }

    .home .relocation-services {
        padding-bottom: 2px;
    }

    .home .icon-item {
        padding: 24px 0;
    }

    /*news and blogs*/
    .post-type-archive .container h1{
        font-size:31px;
        line-height: 34px;
    }

    .hidden-xs{
        display: inline-block !important;
    }

    .ft-wpbs .page-link {
     font-size: .7rem;
     padding: .3rem .45rem;
    }


    /*moving*/
    .content-block .text-content {
        padding-bottom: 0 !important;
    }

    .content-block .two-column ul {
        margin-bottom: 0;
    }

    .content-block .two-column .container .uk-grid>.uk-grid-margin h3 {
        margin-top: 0px;
    }

    .content-block .two-column .container .uk-grid>.uk-grid-margin {
        margin-top: 0px !important;
    }

    .content-block .cf-dropdown .button-container,
    .content-block .cf-dropdown .select-container {
        width: 100% !important;
        display: block !important;
    }

    .content-block .cf-dropdown .selector-form {
        padding: 0 !important;
    }

    .content-block .cf-dropdown .select-container select,
    .content-block .cf-dropdown .button-container .button {
        width: 100% !important;
    }

    .content-block .cf-dropdown .select-container {
        margin-bottom: 26px;
    }

    .content-block .cf-dropdown{
        padding-bottom: 24px;
        padding-top: 26px;
    }
    .single-offices .content-block .cf-dropdown {
        padding:0 0 24px 0 !important;
    }

    .single.single-moving-news .featured-image .uk-overlay .uk-grid h1, 
    .single.single-storage-news .featured-image .uk-overlay .uk-grid h1, 
    .single.single-visa-news .featured-image .uk-overlay .uk-grid h1, 
    .single.single-insights-news .featured-image .uk-overlay .uk-grid h1, 
    .single.single-mobility-survey .featured-image .uk-overlay .uk-grid h1, 
    .single.single-mobility-wpapers .featured-image .uk-overlay .uk-grid h1, 
    .single.single-mobility-webinar .featured-image .uk-overlay .uk-grid h1 {
        color: #353c41;
    }
    .single.single-moving-news .featured-image .responsive .uk-cover, 
    .single.single-storage-news .featured-image .responsive .uk-cover, 
    .single.single-visa-news .featured-image .responsive .uk-cover, 
    .single.single-insights-news .featured-image .responsive .uk-cover, 
    .single.single-mobility-survey .featured-image .responsive .uk-cover, 
    .single.single-mobility-wpapers .featured-image .responsive .uk-cover, 
    .single.single-mobility-webinar .featured-image .responsive .uk-cover {
        top: -50%;
    }

    .thank-you-page h1,  .container h1 {
        font-size: 31px;
        line-height: 34px;
    }
    .banner-content1 h1 {
        font-size: 31px !important;
        line-height: 34px !important;
        text-transform: lowercase;
    }

    .thank-you-page .button-container {
        width: 100% !important;
    }

    .secondary.button {
        margin-bottom: 0;
    }

    .uk-sticky-placeholder {
        height: 128px !important;
    }

    .main-logo svg {
        height: 60px;
        width: 122.9px;
    }

    .main-header {
        padding: 15px 0;
    }

    h2.p1, .post-type-archive h2, .container h2, .single-mobility-webinar h2 {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 16px;
    }

    .p1 {
        margin-bottom: 0;
    }

    .mobile-menu-btn {
        padding: 0 !important;
    }

    .main-header .mobile-menu .mobile-button-primary {
        margin-right: 52px;
    }

    .container,
    .thank-you-page .container {
        padding: 0 16px;
    }

    .top-header .container {
        padding-right: 0;
    }

    .d-md-none {
        background-color: #fff;
        position: relative;
        display: block;
         !important;
    }

    

    .banner-content1 p {
        font-weight: bold;
    }

    .banner-content1 h1:first-letter {
        text-transform: capitalize;
    }

    .banner-content1 h1~p:first-of-type {
        margin-top: 0;
        margin-bottom: 24px;
    }

    .banner-wrapper .banner-content {
         -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
    position: relative;
    }
    .page-template-template-version2 .page-banner .banner-content .uk-position-center h1, .page-template-template-commercial-services .page-banner .banner-content .uk-position-center h1,
    .page-banner .banner-content > div h1{
        color: #353c41;
        margin-top:24px;
        width:100%;
    }
    .page-template-template-version2 .page-banner .banner-content .uk-position-center h1 br, .page-template-template-commercial-services .page-banner .banner-content .uk-position-center h1 br,
    .post-type-archive-mobility-survey .page-banner .banner-content .uk-position-center h1 br{
                display: none;
    }
    .page-banner .banner-content > div h1 span{
        background-color:transparent;
        padding-right: 0px;
    }
    .page-banner .banner-content > div{
        width:100%;
        background-color:transparent !important;
    }

    .page-banner .banner-content > div p{
        color: #353c41;
        padding-right:  0;
    }
    .page-template-template-version2 .page-banner .banner-content a, .page-template-template-commercial-services .page-banner .banner-content a,
    .page-banner .banner-content > div a{
        width:100%;
    }

    .home .multi-color-content {
        padding: 0;
    }

    .page-banner {
        background-color: transparent !important;
    }

    .home .multi-color-content h2 {
        margin-top: 9px;
    }

    .header-subheader-repeater .uk-width-expand {
        flex: 0 0 50%;
    }

    .page-banner .banner-image.banner-meta,
    .page-banner .banner-image {
        left: 0;
        position: relative;
        height: 220px;
    }

    .banner-content1 h1 br {
        display: none;
    }

    .button {
        width: 100%;
    }

    /*mission*/
    .content-block .icon-item h3,
    .home .icon-item h3 {
        text-align: left;
    }

    /*review*/
    .review .client {
        padding-top: 15px;
    }

    .uk-grid-large>.uk-grid-margin {
        margin-top: 24px;
    }

    /*discover*/
    .content-block .cr-listing {
        padding: 0 0 24px 0 !important;
    }

    .content-block .icon-item {
        padding: 24px 0px;
    }

    .content-block .icon-item h3+p,
    .home .icon-item h3+p {
        text-align: left;
    }

    /*column listing*/
    .container+.content-blockv2>.column-listing:first-of-type {
        margin-top: 0 !important;
    }

    .page-template-template-version2 .content-blockv2 .column-listing h3 {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .content-block ul {
        margin-bottom: 0;
    }

    .page-template-template-version2 .content-blockv2 .column-listing h3,
    .page-template-template-commercial-services .content-blockv2 .column-listing h3 {
        margin-top: 10px;
    }

    .column-listing *+.uk-grid-margin,
    .uk-grid+.uk-grid,
    .uk-grid>.uk-grid-margin {
        margin-top: 20px !important;
    }

    /*sidepanel*/
    .sidepanel {
        padding-top: 157px;
    }

    .sidepanel>nav {
        padding: 0px 16px;
    }

    .sidepanel>nav .sub-menu {
        padding: 157px 16px 0 16px;
    }

    .uk-child-width-1-1\@s >* {
        width: 100%;
    }

    [class*="uk-child-width"]>* {
        width: 100%;
    }

    .review {
        padding: 24px 16px !important;
    }

    /*destination guide*/
    .content-block .destination-guide {
        padding: 9px 0 15px 0 !important;
        text-align: left;
    }

    .content-block .destination-guide h3 {
        margin-bottom: 20px;
        font-size: 19px;
        line-height: 27px;
    }

    .content-block .destination-guide select {
        margin-bottom: 17px;
    }

    .content-block .destination-guide .select-container {
        padding-right: 0 !important;
    }

    .content-block .destination-guide .selector-form h3 {
        margin-top: 45px;
        margin-bottom: 18px;
    }

    .content-block .destination-guide .description,
    .content-block .destination-guide .selector-form {
        padding: 0px !important;
    }

    .content-block .destination-guide .select-container,
    .content-block .destination-guide .button-container,
    .content-block .destination-guide .button-container .button {
        display: block;
        width: 100%;
    }

    .content-block .destination-guide .select-container::after {
        top: 20%;
    }

    /*custom guides/our offices*/
    .post-type-archive-offices .local-offices .select-ajax .select-container, .post-type-archive-offices .local-offices .select-ajax .button{
        width: 100%;
        display: block;
        margin: 0 0 15px 0;
    }


    /*footer*/
    .uk-width-expand {
        flex: 0 0 100%;
    }

    /*icon item-get-in-touch*/
    .text_wrapper {
        display: table-cell;
        padding-left: 20px;
        width: 100% !important;
    }

    .content-block .icon-item .uk-grid .icon-container,
    .home .icon-item .uk-grid .icon-container {
        display: table-cell;
        padding-left: 75px;
        height: 100%;
        width:75px;
    }

    .content-block .icon-item .uk-grid .bordered,
    .home .icon-item .uk-grid .bordered {
        height: 100%;
        display: table;
        margin-bottom: 9px;
        width: 100%;
    }

    .content-block .icon-item .uk-grid .title,
    .content-block .icon-item .uk-grid .description,
    .home .icon-item .uk-grid .title,
    .home .icon-item .uk-grid .description {
        text-align: left;
        padding: 0;
    }

    .icon-item .uk-grid-match>*> :not([class*="uk-width"]) {
        width: auto;
    }

    .uk-position-center {
        transform: translate(-50%, 0%);
    }

    .content-block .icon-item .uk-grid .icon-link,
    .home .icon-item .uk-grid .icon-link {
        float: left;
        padding-bottom: 15px;
    }

    .review #rating{
    	padding-bottom: 24px;
    }
    .review .uk-grid > .uk-grid-margin{
    	margin-top:0 !important;
    }

    /*accreditations*/
    .footer-awards h5{
    	text-align: left;
    }
    .footer .footer-awards{
    	padding-bottom: 0 !important;
    }
    .footer-awards .uk-iconnav{
    	justify-content: left;
    	margin-left: -24px;
    }
    .footer-awards ul li{
    	margin-bottom: 24px;
    }

    /*button*/
    .cancel-button {
        margin-right: 16px;
    }

    .local-offices .select-ajax .select-container select,
    .post-type-archive-offices .local-offices .select-ajax .select-container select {
        width: 100% !important;
        margin-bottom: 15px;
    }

    /*mobility survey*/
    .post-type-archive-mobility-survey .default-container > .row > .container{
        padding:0 16px !important;
    }
    .post-type-archive-mobility-survey h2{
        font-size:24px;
        line-height: 28px;
    }
   .post-type-archive-mobility-survey .default-container > .row > .container ul{
         margin-bottom: 24px;
   }
   .post-type-archive-mobility-survey .mobility-global > .container, .single.single-mobility-survey .mobility-global > .container, .single.single-mobility-wpapers .mobility-global > .container, .single.single-mobility-webinar .mobility-global > .container{
          padding:24px 16px;
   }
   .post-type-archive-mobility-survey .mobility-global > .container .uk-first-column, .single.single-mobility-survey .mobility-global > .container .uk-first-column, .single.single-mobility-wpapers .mobility-global > .container .uk-first-column, .single.single-mobility-webinar .mobility-global > .container .uk-first-column{
          margin-top:0;
   }
   .post-type-archive-mobility-survey .mobility-global .buttons-row a.video, .post-type-archive-mobility-webinar .mobility-global .buttons-row a.video, .post-type-archive-mobility-wpapers .mobility-global .buttons-row a.video{
         margin:0;
   }
   .author-content .profile-image {
         width: 100%;
         margin-right: 0;
         text-align: center;
    }
    .author-content .profile-meta {
        width: 100%;
    }
    
    .single.single-moving-news .featured-image .uk-overlay-primary, 
    .single.single-moving-news .featured-image .uk-overlay, 
    .single.single-storage-news .featured-image .uk-overlay, 
    .single.single-visa-news .featured-image .uk-overlay, 
    .single.single-insights-news .featured-image .uk-overlay, 
    .single.single-mobility-survey .featured-image .uk-overlay, 
    .single.single-mobility-wpapers .featured-image .uk-overlay, 
    .single.single-mobility-webinar .featured-image .uk-overlay {
        position: relative;
        display: block;
        margin-top: 210px;
        top: -35px;
    }
    .single.single-storage-news .featured-image .uk-overlay, 
    .single.single-visa-news .featured-image .uk-overlay, 
    .single.single-mobility-survey .featured-image .uk-overlay, 
    .single.single-mobility-wpapers .featured-image .uk-overlay, 
    .single.single-mobility-webinar .featured-image .uk-overlay
    .single.single-mobility-survey .featured-image .responsive .uk-overlay, 
    .single.single-mobility-wpapers .featured-image .responsive .uk-overlay, 
    .single.single-mobility-webinar .featured-image .responsive .uk-overlay,
    .single.single-storage-news .featured-image .responsive .uk-overlay, 
    .single.single-visa-news .featured-image .responsive .uk-overlay{
        position: relative;
        top:0;
        display: block;
        margin-top: 234px;
        background-color:transparent;
        background-image:none;
    }
    .single.single-insights-news .featured-image .uk-overlay,
    .single.single-moving-news .featured-image .uk-overlay{
        background-image:none !important;
    }
    .single.single-insights-news .featured-image .responsive .uk-overlay,
    .single.single-moving-news .featured-image .responsive .uk-overlay{
        padding-top:24px;
    }
   
    .single.single-mobility-survey .featured-image .responsive, 
    .single.single-mobility-wpapers .featured-image .responsive, 
    .single.single-mobility-webinar .featured-image .responsive,
    .single.single-storage-news .featured-image .responsive, 
    .single.single-visa-news .featured-image .responsive{
        height: auto;
        overflow: initial;
    }
    .single.single-mobility-survey .featured-image .responsive .uk-cover, 
    .single.single-mobility-wpapers .featured-image .responsive .uk-cover, 
    .single.single-mobility-webinar .featured-image .responsive .uk-cover,
    .single.single-storage-news .featured-image .responsive .uk-cover,  
    .single.single-visa-news .featured-image .responsive .uk-cover{
        top: -50%;
    }
    .single.single-mobility-survey .featured-image .uk-overlay .uk-grid .cta a, .single.single-mobility-wpapers .featured-image .uk-overlay .uk-grid .cta a, .single.single-mobility-webinar .featured-image .uk-overlay .uk-grid .cta a {
        width: 100%;
        margin-bottom: 24px;
    }
    .single.single-mobility-survey .featured-image .uk-overlay .uk-grid .cta a, .single.single-mobility-wpapers .featured-image .uk-overlay .uk-grid .cta a, .single.single-mobility-webinar .featured-image .uk-overlay .uk-grid .cta a{
        margin:0;
    }

    .single.single-mobility-webinar .main-content{
        padding-top:0 !important;
    }
    .single.single-mobility-webinar .main-content h2, .grid-item.cb-cont h2, .page-template-template-commercial-services h2{
        font-size:28px;
        line-height: 32px;
        margin-top: 24px;
    }
    .single.single-storage-news .featured-image .uk-overlay .uk-grid, 
    .single.single-visa-news .featured-image .uk-overlay .uk-grid, 
    .single.single-mobility-survey .featured-image .uk-overlay .uk-grid, 
    .single.single-mobility-wpapers .featured-image .uk-overlay .uk-grid, 
    .single.single-mobility-webinar .featured-image .uk-overlay .uk-grid,
    .single.single-storage-news .featured-image .uk-overlay .uk-grid h1, 
    .single.single-visa-news .featured-image .uk-overlay .uk-grid h1, 
    .single.single-mobility-survey .featured-image .uk-overlay .uk-grid h1, 
    .single.single-mobility-wpapers .featured-image .uk-overlay .uk-grid h1, 
    .single.single-mobility-webinar .featured-image .uk-overlay .uk-grid h1{
        color: #353c41;
    }
   
}