.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 80px;
  width: 240px;
  background: #fff;
  overflow: hidden;
}

.pace .pace-progress {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  bottom: 0;
  border: 1px solid #dfad00;
  max-width: 240px;
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  right: 100%;
  height: 5px;
  width: 100%;
  background: #dfad00;
}

.pace-activity {
    background-image: url("../img/cglawlogo.png");
    display: inline-block;
    height: 65px;
    width: 100%;
}

.pace.pace-inactive {
  display: none;
}

.pace-running main{
  
}
.pace-done main{
  opacity: 1;
}
.pace-running{
  overflow-y: hidden;
}
