/*** INSTRUCTION: HOW TO ADD CUSTOM FONTS ***/
@import 'fonts-list/font-opensans';

// FONTS
$font-main-regular: 'HelveticaNeue';
$font-main-bold: 'open_sansbold';
$font-main-semibold: 'open_sanssemibold';
$font-main-light: 'open_sanslight';
$font-main-italic: 'open_sansitalic';
$font-main-extra-bold: 'OpenSans-Extrabold';

// // COLORS - DEFAULT
$color-default: #353c41;
$color-white: #fff;
$color-gray: #ccc;
$color-black: #000;
$color-sytian: #9dca00;

// ADDITIONAL VARIABLES BELOW
// $font-cust-regular: '';
// $font-cust-bold: '';
// $font-cust-italic: '';
// $font-cust-semi-bold: '';



// $color-cust-red: '';